<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='public/stylesheets/style.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>

  <script>

        $(document).ready(function() {



      });


  </script>
    <table class="sub_news2" border="1" cellspacing="0" summery="메뉴 리스트">
        <colgroup>
          <col>
          <col width="100">
          <col width="100">
          <col width="100">
        </colgroup>

        <thead>
          <tr>
            <th scope="col">이름</th>
            <th scope="col">가격</th>
            <th scope="col">사진</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td class="tdmenuname">짜장면</td>
            <td class="tdmenuprice">4000원</td>
            <td class="menuimage"><image src= "public/images/jjajang.jpg"/ width="80"></td>
          </tr>

        </tbody>

    </table>

  </body>

</html>
