<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='public/stylesheets/style.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>

  <script>

        $(document).ready(function() {



      });


  </script>
    <h1>총 별점 : 3.5점</h1>
    한줄 평 : 넘 짰어요 그거 빼고는 괜찮았네용</br>
  </body>

</html>
