<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='public/stylesheets/style.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>

  <script>

        $(document).ready(function() {

              $("#refresh").click(function{
                    //초대 인원 새로 불러오기 체크 되자마자
              });

              $(".button").click(function(){
                      $('form[name=orderinfo]').submit();
                      console.log("wow");
              });
              //라디오버튼 체크된 값 가져오는 소스
              //var checkedValue = $("input[type=radio][name=rdoName]:checked").val()



      });


  </script>



  <!--맨위에 우리꺼 로고 -->
  <div id ="maintitle"><image src ='public/images/logo2.png' width='300px' height='auto'/></div>

  <!-- 메뉴버튼-->
<div id ="mynav">
     <ul class="sidenav">
          <li><a class="active" href="#">초대하기</a></li>
          <li><a href="#">ON/OFF</a></li>

          <li><a href="#">주문하기</a></li>
          <li><a href="#">정보보기</a></li>
     </ul>
</div>
  <div id= "underbar_search"><br/>그룹을 생성합니다</div>




    <div id="content"> <br/>
      <div id="search">
        <select style="weight:20%; height:25px;">
            <option value="name" >이름</option>
            <option value="email">이메일</option>
        </select>
        <input type='text' name='usersearch' style = "width:200px; height:25px;"><button class ="search">검색</button><br/><br/></div><!--온클릭이벤트 제이쿼리써서 출력-->
        <p class="searchtitle">검색결과</p>
        <table class="sub_news" border="1" cellspacing="0" summery="게시판 글제목 리스트">
            <colgroup>
              <col width="100">
              <col width="100">
              <col width="80">
            </colgroup>

            <thead>
              <tr>

                <th scope="col">이름</th>
                <th scope="col">이메일</th>
                <th scope="col">선택</th>
              </tr>
            </thead>

            <tbody>
              <tr>
              	<td class="tdname">김민경</td>
              	<td class="tddate">abcdef@gmail.om</td>
                <td class="hit"><input type="checkbox" name="check" value="user_id" checked></td>

              </tr>

            </tbody>

        </table>

        <p class="searchtitle">초대리스트 <img src ="public/images/refresh.png" width="20" id= "refresh" /></p>
        김민경, 김정은, 김재현, 정현희 총 4명을 추가했습니다<br/><br/><br/>


          <button class="searchbutton">초대하겠습니다</button>







    </div>

    <div id ="footer"></div>





  </body>

</html>
